<div id="<%= dom_id disciplina %>">
  <p>
    <strong>Descricao:</strong>
    <%= disciplina.descricao %>
  </p>

  <p>
    <strong>Area formacao:</strong>
    <%= disciplina.area_formacao_id %>
  </p>

  <p>
    <strong>Horas semanais:</strong>
    <%= disciplina.horas_semanais %>
  </p>

</div>
