<%= render "shared/context_nav", title: t("activerecord.models.#{Disciplina.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{Disciplina.model_name.i18n_key}.other"), disciplinas_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@disciplina) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @disciplina.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{Disciplina.model_name.i18n_key}.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= render "shared/notice" %>
      <div class="row">
        <div class="col-12">
          <%= f.input :descricao, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12 col-lg-5">
          <%= f.association :area_formacao, input_html: { class: "keyup select2"}  %>
        </div>
        <div class="col-12 col-lg-5">
          <%= f.association :nivel, input_html: { class: "keyup select2"}  %>
        </div>
        <div class="col-12 col-lg-2">
          <%= f.input :horas_semanais, input_html: { class: "keyup horas"}  %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <%= link_to "Voltar", disciplinas_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>