<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Disciplina</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @disciplina %>">
              
          <p>
            <strong>Descricao:</strong>
            <%= @disciplina.descricao %>
          </p>
              
          <p>
            <strong>Area Formacao:</strong>
            <%= @disciplina.area_formacao %>
          </p>
              
          <p>
            <strong>Horas Semanais:</strong>
            <%= @disciplina.horas_semanais %>
          </p>
     
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_disciplina_path(@disciplina), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", disciplinas_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @disciplina, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
