<div id="<%= dom_id turma %>">
  <p>
    <strong>Descricao:</strong>
    <%= turma.descricao %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= turma.nivel_id %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= turma.turno_id %>
  </p>

</div>
