<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Turma</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @turma %>">
              
          <p>
            <strong>Descricao:</strong>
            <%= @turma.descricao %>
          </p>
              
          <p>
            <strong>Nivel:</strong>
            <%= @turma.nivel %>
          </p>
              
          <p>
            <strong>Turno:</strong>
            <%= @turma.turno %>
          </p>
     
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_turma_path(@turma), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", turmas_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @turma, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
