<div class="breadcrumb-item dropdown">
  <a href="#" class="breadcrumb-item dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false">
    <%= @e_escola.nome.titleize %>
  </a>
  <div class="dropdown-menu" style="">
    <%= link_to edit_e_escola_path(@e_escola), class: "dropdown-item" do %>
      <i class="ph-pen me-2"></i> Editar
    <% end %>
    <%= link_to e_escola_e_turmas_path(@e_escola), class: "dropdown-item" do %>
      <i class="ph-chalkboard-simple me-2"></i> Turmas
    <% end %>
  </div>
</div>
