<div id="<%= dom_id preferencia %>">
  <p>
    <strong>Turno:</strong>
    <%= preferencia.turno_id %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <%= preferencia.disciplina_id %>
  </p>

</div>
