<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Preferencia</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @preferencia %>">
              
          <p>
            <strong>Turno:</strong>
            <%= @preferencia.turno %>
          </p>
              
          <p>
            <strong>Disciplina:</strong>
            <%= @preferencia.disciplina %>
          </p>
     
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_preferencia_path(@preferencia), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", preferencias_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @preferencia, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
