<%= render "shared/context_nav", title: t("activerecord.models.#{User.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{User.model_name.i18n_key}.other"), users_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%=  t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@user) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <%= @user.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{User.model_name.i18n_key}.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= render "shared/notice" %>
      <div class="row">
        <div class="col-12 col-xl-4 col-lg-3 col-md-4">
          <%= f.input :cpf, input_html: { class: "keyup cpf"}  %>
        </div>
        <div class="col-12 col-xl-4 col-lg-4 col-md-8">
          <%= f.input :nome, input_html: { class: "keyup"}  %>
        </div>
        <div class="col-12 col-xl-4 col-lg-5">
          <%= f.input :email, input_html: { class: "downcase"}  %>
        </div>
        <div class="col-12">
          <%= f.input :admin, input_html: { class: "keyup"}  %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :password %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :password_confirmation %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <buttom class="btn btn-light" onclick="window.history.back();">Voltar</buttom>
    </div>
  </div>
<% end %>
