<!-- Footer -->
<div class="navbar navbar-sm border-top">
  <div class="container-fluid">
    <span class="text-muted">
      Desenvolvido por <span data-bs-popup="tooltip" data-bs-placement="top" id="left" data-bs-original-title="Melhor aluna do IFRO :3">Vitória Cristine</span> &copy; 2024
    </span>
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
          <div class="d-flex align-items-center mx-md-1">
            <i class="ph-lifebuoy"></i>
            <span class="d-none d-md-inline-block ms-2">Suporte</span>
          </div>
        </a>
      </li>
      <li class="nav-item ms-md-1">
        <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
          <div class="d-flex align-items-center mx-md-1">
            <i class="ph-file-text"></i>
            <span class="d-none d-md-inline-block ms-2">Manual</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /footer -->
