<div class="login-image">
  <div class="row justify-content-center mb-3 mt-5" style="padding-top: 70px;">
    <div class="col text-center">
      <img src="/layout/assets/img/brand.png" style="height: 90px">
    </div>
  </div>
  <div class="row justify-content-center mt-5" style="padding-top: 10px; padding-bottom: 50px;">
    <div class="col-xl-3 col-lg-5 col-md-6 col-sm-8">
      <div class="card">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card-body">
        <%= render "shared/notice"%>

            <%= f.input :cpf,
                  required: false,
                  autofocus: true,
                  input_html: { class: "cpf-numeros"} %>
            <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
            <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="card-footer">
            <%= f.button :submit, "Entrar", class: "btn btn-success w-100 hand-pointer" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
