/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hand-pointer,
 .nav-item,
 .hand-pointer:hover,
 .nav-item:hover {
   cursor: pointer;
 }
 
 .sort_link,
 .sort_link:hover {
   text-decoration: none;
   color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
 }
 
 .keyup {
   text-transform: uppercase;
 }
 
 .downcase {
   text-transform: lowercase;
 }
 
 .select2-container.is-invalid .select2-selection {
   border-color: #dc3545;
 }
 
 .steps-basic > .actions {
   padding-top: 15px;
   padding-bottom: 15px;
   background: var(--light);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-bottom-left-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
   border-top: var(--card-border-width) solid var(--card-border-color);
 }
 
 .select2-container.is-valid .select2-selection {
   border-color: #28a745;
 }
 
 .select2-container.is-invalid .select2-selection:focus {
   /* Sombra vermelha */
   box-shadow: 0 0 0 0.125rem rgba(239, 68, 68, 0.25);
 }
 
 .select2-container.is-valid .select2-selection:focus {
   /* Sombra verde */
   box-shadow: 0 0 0 0.125rem rgba(5, 150, 105, 0.25);
 }
 
 abbr {
   color: var(--danger)
 }
 
 .btn-to-top {
   position: absolute;
   bottom: 4.1rem;
   right: 1.2rem;
 }
 
 /* Estilo para impressão */
 @media print {
   /* Elementos que você deseja ocultar na impressão */
   .sidebar, .navbar, title, .no-print {
     display: none !important; /* ou visibility: hidden; */ 
   }
 }
 
 .table > :not(caption) > * > * {
   padding: 0.45rem 1rem !important;
 }
 
 .table-responsive {
    /* Se você quer que o conteúdo interno não quebre linhas */
     white-space: nowrap;
     /* Defina a largura máxima conforme necessário */
     max-width: 100%; 
     /* Impede a rolagem vertical */
     overflow-y: hidden;
 }
 