<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Turno</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @turno %>">
        <p>
          <strong>Descricao:</strong>
          <%= @turno.descricao %>
        </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_turno_path(@turno), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", turnos_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @turno, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
