<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar Area Formacao</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @area_formacao %>">
              
          <p>
            <strong>Descricao:</strong>
            <%= @area_formacao.descricao %>
          </p>
     
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_area_formacao_path(@area_formacao), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", areas_formacoes_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @area_formacao, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
